[Unit]
Description=Discord Bot Service for the Freedom Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/freedom-blades/platform
ExecStart=/opt/freedom-blades/runtime/venv-bot/bin/python main.py
User=discordbot
Group=discordbot
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
