server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "__PUT_LL_PASSWORD__"
    sources:
      youtube: false

plugins:
  - dependency: "dev.lavalink.youtube:youtube-plugin:1.13.4"
    repository: "https://maven.lavalink.dev/releases"
    config:
      youtubeConfig:
        clients:
          - WEB
        oauth:
          enabled: true

logging:
  file:
    path: ./logs/

spring:
  cloud:
    config:
      enabled: false
